<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <bean id="movieCatalog" class="com.example.qualifiersamplesfields.MovieCatalog">
        <qualifier value="movie"/>
        <constructor-arg name="movieId" value="0"/>
        <constructor-arg name="movieName" value="Jerry and Marge Go Large"/>
        <constructor-arg name="categoryName" value="Drama"/>
    </bean>
    <bean id="tvShowsCatalog" class="com.example.qualifiersamplesfields.MovieCatalog">
        <qualifier value = "tvshows"/>
        <constructor-arg name="movieId" value="1"/>
        <constructor-arg name="movieName" value="24 Hours"/>
        <constructor-arg name="categoryName" value="Action"/>
    </bean>
    <bean id="movieRecommender" class="com.example.qualifiersamplesfields.MovieRecommender"/>
</beans>