<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="serverConfig" class="org.company.ServerConfig" init-method="afterPropertiesSet" destroy-method="destroy">
        <constructor-arg type="java.lang.Integer" value="11011"/>
        <constructor-arg type="java.lang.String" value="124.43.122.113"/>
        <constructor-arg type="java.lang.String" value="rootuser12"/>
        <constructor-arg type="java.lang.String" value="root123#$"/>
        <property name="configParms">
            <map>
                <entry key="ram" value="160GB"/>
                <entry key="CPU-Cores" value="16"/>
            </map>
        </property>
    </bean>
</beans>