<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="serverConfig" class="org.company.initdestroymethods.ServerConfig"
          init-method="init" destroy-method="destroy">
        <constructor-arg type="java.lang.Integer" value="10001"/>
        <constructor-arg type="java.lang.String" value="192.168.0.100"/>
        <constructor-arg type="java.lang.String" value="steveliu"/>
        <constructor-arg type="java.lang.String" value="1112"/>
        <property name="configParams">
            <map>
                <entry key="cpu-cores" value="32"/>
                <entry key="ram" value="512GB"/>
            </map>
        </property>
    </bean>
</beans>